{% extends 'base.html.twig' %}

{% block title %} CV {% endblock %}

{% block body %}
    <div class="contentContainer">
    {% for message in app.flashes('notice') %}
        <div>{{ message }}</div>
    {% endfor %}
    {% for id, cv in cvs  %}
       {{ include('cv/cv_component.html.twig', {'cv': cv }) }}
    {% endfor %}
    <div class="paginationContainer">
    {{ knp_pagination_render(cvs) }}
    <div/>
   <div/>
{% endblock %}