{% extends 'base.html.twig' %}

{% block body %}
    <div class="messagesContainer">
    <div class="messagesWrap">
    {% if messages %}

        {% for message in messages %}
            <div class="messageWrap">
                <div class = "messageName"> {{ message.Name }}</div>
                <div class = "messageEmail"> {{ message.email }}</div>
                <div class = "messagePhoneNumber"> {{ message.phoneNumber }}</div>
                <div class = "messageContent"> {{ message.message }} </div>
            </div>
        {%  endfor %}
    {% else %}
        <p>There are no messages</p>
    {% endif %}
    </div>
    <div>
{% endblock %}