{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}
    <h1>{{ message.name }}</h1>
    <h1>{{ message.email }}</h1>
    <h1>{{ message.phoneNumber }}</h1>
    <p>{{ message.message }}</p>
    <a href="/administrator"> Back </a>
{% endblock %}
