.addressbook {
  width:100%;
  height:300px;
  float:left;
}

.addressbook img {
  height:300px;
}

.gymapp {
  width:35%;
  height:300px;
  float:left;
}

.gymapp img {
  height:300px;
}

.habits {
  width:50%;
  height:300px;
  float:left;
}

.habits img {
  height:300px;
}

.offers {
  width:100%;
  height:300px;
  float:left;
}

.offers img {
  width:500px;
  height:300px;
}