$shadow : 0 5px 10px 0px rgba(0, 0, 0, 0.1);
$shadowSmall : 0 1px 1px 0px rgba(0, 0, 0, 0.1);

.cardContainer {
  margin-top:40px;
  margin-bottom:40px;
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Avenir Helvetica sans-serif;
  font-size: 14px;
  text-align: center;
}

.cardWrap {
  position:relative;
  width: 25%;
}

.card {
  width: 270px;
  height: 450px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor:pointer;
  box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
}

.card:hover {
  box-shadow: $shadowSmall;
  -moz-box-shadow: $shadowSmall;
  -webkit-box-shadow: $shadowSmall;
  -o-box-shadow: $shadowSmall;
  -ms-box-shadow: $shadowSmall;
}

.descriptionWrap {
  width: 50%;
}

.descriptionArea1, .descriptionArea2, .descriptionArea3, .descriptionArea4 {
  position:relative;
  width: 100%;
  border: 1px dotted #1f5fa5;
  border-radius: 10px;
  height: 450px;
}

.descriptionArea2 {
  border: 1px dotted #2e86d2;
}

.descriptionArea3 {
  border: 1px dotted #2da5c9;
}

.descriptionArea4 {
  border: 1px dotted #3cbec7;
}

.descriptionArea1Flipped, .descriptionArea2Flipped, .descriptionArea3Flipped, .descriptionArea4Flipped   {
  position:relative;
  width: 100%;
  background-color:#fff;
  border: 1px solid #1f5fa5;
  border-radius: 10px;
  height: 450px;
  box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
}

.descriptionArea2Flipped {
  border: 1px solid #2e86d2;
}

.descriptionArea3Flipped {
  border: 1px solid #2da5c9;
}

.descriptionArea4Flipped {
  border: 1px solid #3cbec7;
}

.descriptionTitle {
  margin-left: 45%;
  position: absolute;
  font-weight:bold;
  letter-spacing: 0.05em;
  top:45%;
  text-align:center;
}

.descriptionLinkTop, .descriptionLinkBottom  {
  font-weight:100;
  letter-spacing: 0.05em;
  cursor:pointer;
}

.descriptionLinkTop {
  margin-top:35px;
}

.descriptionText {
  border-radius: 10px;
  padding: 15px;
  background-color: #fafafa;
  cursor:default;
}

.cardTitle {
  width:270px;
  top: 45%;
  position:absolute;
  text-align:center;
  font-weight:bold;
  letter-spacing: 0.05em;
}

.cardContent {
  position: absolute;
  width:270px;
  top: 30%;
  text-align:center;
  font-weight:bold;
  list-style-type: none;
}

.cardText {
  color: black;
  font-weight:100;
}

.cardTextTitle {
  letter-spacing: 0.05em;
  margin-top: 7px;
}

.cardLinkTop {
  display: none;
}

.cardLinkUsernamePassword {
  display: none;
}

.cardLinkBottom {
  display: none;
}

.screenshots {
  height:300px;
}

@media screen and (max-width: 1270px) {

  .descriptionWrap {
   margin-left:3%;
  }
}

@media screen and (max-width: 1020px) {

  .descriptionWrap {
    display:none;
  }

  .cardWrap {
    position:relative;
    width: 100%;
  }

  .card {
    margin:auto;
  }

  .cardLinkTop {
    margin-top:85px;
  }

  .cardLinkUsernamePassword, .cardLinkBottom, .cardLinkTop {
    display:block;
    font-weight:100;
    letter-spacing: 0.05em;
    cursor:pointer;
  }
}


